<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>SUperNodeGame</title>
    <script src="js/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>

<script type="text/javascript">

 /*TO DO
 Ajouter déplacement monstre
 Ajouter système de vie du héro
 Ajouter animation déplacement hero
 */
var player;
var platforms;
var cursors;
var score = 0;
var gameOver = false;

//Group of sprite
var chestGroup = [];
var monsterGroup = [];

//Movement of player
var firstJump = false;
var secondJump = false;
var secondJumpTimer;

//Taille de la map
var curentWidth = 3840;
var curentHeight = 1000;

window.onload = initiate();

function initiate(){
    var player = null;
    var bombs = null;
    var platforms = null;
    var cursors = null;
    
    var config = {
        type: Phaser.AUTO,
        width: curentWidth,
        height: curentHeight,
        transparent: true,
        physics: {
            default: 'arcade',
            arcade: {
                gravity: { y: 400 },
                debug: false
            }
        },
        scene: {
            preload: preload,
            create: create,
            update: update
        }
    };
    var game = new Phaser.Game(config);
    
}

function preload ()
{
    this.load.image('background1_1', './assets/background1_1.png');
    this.load.image('platform', './assets/plateform.png');
    this.load.spritesheet('chest', './assets/chest.png', { frameWidth: 256, frameHeight: 256 });
    this.load.spritesheet('hero', './assets/hero.png', { frameWidth: 128, frameHeight: 192 });
    this.load.spritesheet('monster', './assets/hero.png', { frameWidth: 128, frameHeight: 192 });
}

function create ()
{
    //  A simple background for our game
    this.add.image(curentWidth/4, curentHeight/2, 'background1_1');

    this.cameras.main.setBounds(0, 0, curentWidth*2, curentHeight);
    //  The platforms group contains the ground and the 2 ledges we can jump on
    platforms = this.physics.add.staticGroup();

    //  Here we create the ground.
    //  Scale it to fit the width of the game (the original sprite is 400x32 in size)
    platforms.create(curentWidth/4, curentHeight-50, 'platform').refreshBody();
    platforms.create(curentWidth/1.5, curentHeight-50, 'platform').refreshBody();

    //  Creation of Chest
    chest1 = this.physics.add.sprite(900, curentHeight - 270, 'chest').setScale(0.5);
    chest2 = this.physics.add.sprite(3000, curentHeight - 270, 'chest').setScale(0.5);
    chestGroup.push(chest1, chest2);

    // The player and its settings
    player = this.physics.add.sprite(30, 690, 'hero');
    //  Player physics properties. Give the little guy a slight bounce.
    player.setCollideWorldBounds(true);

    //  Our player animations, turning, walking left and walking right.
    this.anims.create({
        key: 'left',
        frames: [ { key: 'hero', frame: 0 } ],
        frameRate: 10
    });
    this.anims.create({
        key: 'open',
        frames: [ { key: 'chest', frame: 1 } ],
        frameRate: 10
    });
    this.anims.create({
        key: 'turn',
        frames: [ { key: 'hero', frame: 0 } ],
        frameRate: 20
    });
    this.anims.create({
        key: 'attack',
        frames: [ { key: 'hero', frame: 1 } ],
        frameRate: 20
    });
    this.anims.create({
        key: 'right',
        frames: [ { key: 'hero', frame: 0 } ],
        frameRate: 10
    });

    //Creation of monsters

    monster1 = this.physics.add.sprite(1600, curentHeight - 600, 'monster').setScale(0.9);
    monsterGroup.push(monster1);

    //  Input Events
    cursors = this.input.keyboard.createCursorKeys();

    //Collide effect
    this.physics.add.collider(player, platforms);
    for(var i = 0; chestGroup.length > i; i++){
        this.physics.add.collider(platforms,chestGroup[i]);
    }
    for(var i = 0; monsterGroup.length > i; i++){
        this.physics.add.collider(platforms,monsterGroup[i]);
    }
}

function update ()
{
    if (gameOver)//if player lose
    {
        return;
    }

    //reset doublejump on touching the ground
    if(player.body.touching.down && firstJump == true){
        secondJump = false;
        firstJump = false;
    }
    //Player mouvement
    if (cursors.left.isDown)
    {
        player.setVelocityX(-360);
        updateCam(this);
        player.anims.play('left', true);
        if(player.flipX == false){
            player.flipX = true;
        }
    }
    else if (cursors.right.isDown)
    {
        updateCam(this);
        player.setVelocityX(360);
        player.anims.play('right', true);
        if(player.flipX == true){
            player.flipX = false;
        }
    }
    else
    {
        player.setVelocityX(0);
        player.anims.play('turn');
    }
    if (cursors.up.isDown && firstJump == false)
    {
        firstJump = true;
        player.setVelocityY(-300);
        secondJumpTimer = setTimeout(() => {
            secondJump = true;
        }, 200);
    }else if(cursors.up.isDown && firstJump == true){
        if(secondJump == true){
            player.setVelocityY(-350);
            secondJump = false;
        }
    }
    if (cursors.space.isDown){
        player.anims.play('attack');
        for(var i = 0; monsterGroup.length > i; i++){
            if(Phaser.Geom.Intersects.RectangleToRectangle(player.getBounds(), monsterGroup[i].getBounds())){
                hitMonster(player, monsterGroup[i]);
            }
        }
    }
    
    //Chest Interaction
    for(var i = 0; chestGroup.length > i; i++){
        if(Phaser.Geom.Intersects.RectangleToRectangle(player.getBounds(), chestGroup[i].getBounds())){
            getChest(player, chestGroup[i]);
        }
    }

    //MonsterInteraction
    for(var i = 0; monsterGroup.length > i; i++){
        if(Phaser.Geom.Intersects.RectangleToRectangle(player.getBounds(), monsterGroup[i].getBounds()) && !monsterGroup[i].isDead){
            hitPlayer(player, monsterGroup[i]);
        }
    }
    //Monster Movement
}
function hitPlayer(player, monster){
    console.log("Player as been hit");
}
function hitMonster(player, monster){
    console.log("Monster as been hit");
    monster.destroy();
    monster.isDead = true;
}
function getChest(player, chest){
    chest.anims.play("open");
}
function updateCam(game){
    game.cameras.main.scrollX = player.x - 700
    
}
</script>

</body>
</html>